@use "sass:list";
@use "sass:math";

@font-face {                                                        // Lasten suusta-osion väliotsikoiden ja navigaatiopainikkeiden fontti
  font-family: 'CAVEAT-font';
  src: url('../fonts/Caveat-VariableFont_wght.ttf') format('truetype');
}

@font-face {                                                        // Headerin ja loaderin otsikkofontti, "Päiväkoti Pirtti"
  font-family: 'GH-font';
  src: url('../fonts/GloriaHallelujah-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Insta-font';                                        // Footerin Instagram-linkin fontti
  src: url('../fonts/Billabong.otf') format('truetype');
}

@font-face {                                                        // Footerin Facebook-linkin fontti
  font-family: 'Face-font';
  src: url('../fonts/KlavikaRegular-tf.otf') format('truetype');
}

@font-face {                                                        // Sisällön perusfontti
  font-family: 'Content-font';
  src: url('../fonts/Exo2-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-font';
  src: url('../fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
}

// Värit
$dark: rgb(90, 41, 0);
$light: rgb(230, 230, 230);
$bg-col: linear-gradient(235deg, #ff9e30, #d35f00);             // Header && footer taustaväri

$header-height: 170px;
$footer-height: 120px;

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: calc($header-height * 0.8);
  overflow-y: auto;
  overflow-x: hidden;
  background: linear-gradient(130deg, rgba(255, 155, 118, 0.5), rgba(255, 158, 48, 0.5));
  height: 100%;

  @media (max-width: 960px) {
    padding-top: calc($header-height * 0.55);
  }
}

.disabled {
  background: rgba(0,0,0,0.5);
  pointer-events: none;
}

body.disabled-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

// Wrapperit
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main-content {
    flex: 1;

    .content {
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  .cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 20vh;
    background-image: $bg-col;
    color: $dark;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2000;
    box-shadow: 0 -3px 6px rgba(0,0,0,0.2);
    border-top: 2px solid $dark;
  }

  .newtopics-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 12vh;
    background-image: $bg-col;
    color: $light;
    font-weight: bold;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2000;
    box-shadow: 0 -3px 6px rgba(0,0,0,0.2);
    border-bottom: 2px solid $dark;

    span {
      font-family: 'GH-font', sans-serif;
      font-size: 2.5rem;
      line-height: 1.2;

      @media (max-width: 960px) {
        color: $dark;
        font-size: 1.8rem;
      }
    }
  }
}

// Header
header {
  position: fixed;
  max-height: $header-height;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  background-image: $bg-col;
  color: $light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid $dark;
  padding: 10px;

  .navbar {
    position: relative;
    z-index: 2000; 

    h1 {
      font-family: 'GH-font', sans-serif;
      font-size: 2.5rem;
      line-height: 1.2;
      font-weight: bold;
      -webkit-text-stroke: 0.1px black;

      @media (max-width: 960px) {
        font-size: 1.8rem;
      }
    }
  }

  .header-content {
    width: 100vw;
    text-align: center;

    h1 {
      font-family: 'GH-font', sans-serif;
      font-size: 4rem;
      line-height: 1.2;
      font-weight: bold;
      -webkit-text-stroke: 0.1px black;
    }

    .active-button {
      position: relative;
      overflow: hidden;
    }

    .active-button .sparkle {
      position: absolute;
      width: 1px; 
      height: 1px;
      background: white;
      opacity: 0;
      animation: sparkle 2.5s infinite;
    }

    @keyframes sparkle {
      0%, 80%, 100% { opacity: 1; }
      40% { opacity: 0; }
    }
  }

  nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .h-button {
      font-family: 'CAVEAT-font', sans-serif;
      border-radius: 24px;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

// Karuselli
.home-carousel {
  width: 100vw;
  border-bottom: 2px solid $dark;

  .carousel-item {
    height: 40vh;
    min-height: 300px;

    @media (max-width: 600px) {
      height: 24vh;
      min-height: 100px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
    }
  }
}

.non-home-carousel {
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
  position: relative;

  .carousel-item {
    height: 20vh;
    min-height: 200px;

    @media (max-width: 600px) {
      align-self: center;
      height: 24vh;
      min-height: 100px;
    }

    img {
      width: 300px;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }
}

.applications-container {

  .mobile-form {
    margin: 10px;
    background-color: $light;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    box-shadow: 6px 12px 20px rgb(0, 0, 0, 0.6);
    padding: 16px;
  }
  
  .form-area {
    margin: 20px;
    background-color: $light;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    box-shadow: 6px 12px 20px rgb(0, 0, 0, 0.6);
  }

  .btn {
    box-shadow: 3px 6px 10px rgb(0, 0, 0, 0.4);
  }
}

// Footer
footer {
  height: $footer-height;
  background-image: $bg-col;
  border-top: 2px solid $dark;
  z-index: 10;

  @media (max-width: 960px) {
    height: $footer-height * 1.1;
    padding: 26px;
  }

  @media (max-width: 1246px) {
    height: $footer-height * 1.2;
  }

  @media (min-width: 1247px) {
    height: $footer-height * 1.5;
  }

  a {
    text-decoration: none;
  }

  .btn.btn-primary {
    background-color: $dark !important;
    border-color: $light;
  }

  .instagram {
    font-family: 'Insta-font', sans-serif;
    font-size: x-large;
    color: #405DE6;

    @media (max-width: 998px) {
      font-size: medium;
    }
  }

  .facebook {
    font-family: 'Face-font', sans-serif;
    font-size: x-large;
    color: #1877F2;

    @media (max-width: 998px) {
      font-size: medium;
    }
  }
}

.maps {
  border: 1px solid $dark;
  border-radius: 5px;
}

.quotes-headline {
  font-family: 'GH-font', sans-serif;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 20px;

  @media (max-width: 960px) {
    font-size: 1.8rem;
  }
}

.quotes-image {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 20vw;
  border-radius: 30px;

  @media (max-width: 960px) {
    max-width: 80%;
  }
}

.content-text {
  font-family: 'Content-font', sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;

  @media (max-width: 960px) {
    font-size: 0.95rem;
    line-height: 1.4;
  }
}

.quotes-header {
  font-family: 'CAVEAT-font', sans-serif;
  font-size: 2.5rem;

  @media (max-width: 960px) {
    font-size: 1.8rem;
  }
}

@mixin rotate($deg) {
  transform: rotate($deg);
  transform-origin: center;
}

.tilt-left {
  @include rotate(-4deg);
}

.tilt-right {
  @include rotate(4deg);
}

.loader-container {
  @function colors-conic($colors) {
    $count: list.length($colors);
    $step: math.div(100%, $count);
    $gradient: ();

    @for $i from 1 through $count {
      $color: list.nth($colors, $i);
      $start: ($i) * $step;
      $end: $i * $step;

      $gradient: list.append(
        $gradient,
        #{$color} #{$start} #{$end},
        comma
      );
    }

    @return conic-gradient($gradient...);
  }

  opacity: 1;
  transition: opacity 1.5s ease;
  background-image: $bg-col;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  $colors: (
    transparent,
    #ff6f3c,
    #ff9a76,
    #b5651d,
    #ffb347,
    #c85e3c,
    #d99a6c,
    #8b3d2e
  );

  h1 {
    position: absolute;
    font-family: 'GH-font', sans-serif;
    font-size: 4rem;
    line-height: 1.2;
    color: $light;
    font-weight: bold;
    -webkit-text-stroke: 0.1px black;

    @media (max-width: 960px) {
      font-size: 1.8rem;
    }
  }

  .loader {
    height: 180px;
    width: 600px;
    padding: 15px;
    border-radius: 50px;
    box-sizing: border-box;
    position: relative;

    mask: conic-gradient(#000 0 0) content-box exclude,conic-gradient(#000 0 0);
    filter: blur(2px);
  }

  .loader:before {
    content: "";
    position: absolute;
    inset: 0;
    background: colors-conic($colors);
    animation: spin-colors 2s linear infinite;
    filter: blur(30px);
  }

  @keyframes spin-colors {
    to { transform: rotate(360deg); }
  }
}

.loader-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.fb-page {
  border-left: 2px solid $dark;
}