@use "sass:list";
@use "sass:math";

@font-face {                                                        // Lasten suusta-osion väliotsikoiden ja navigaatiopainikkeiden fontti
  font-family: 'CAVEAT-font';
  src: url('../fonts/Caveat-VariableFont_wght.ttf') format('truetype');
}

@font-face {                                                        // Headerin ja loaderin otsikkofontti, "Päiväkoti Pirtti"
  font-family: 'GH-font';
  src: url('../fonts/GloriaHallelujah-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Insta-font';                                        // Footerin Instagram-linkin fontti
  src: url('../fonts/Billabong.otf') format('truetype');
}

@font-face {                                                        // Footerin Facebook-linkin fontti
  font-family: 'Face-font';
  src: url('../fonts/KlavikaRegular-tf.otf') format('truetype');
}

@font-face {                                                        // Sisällön perusfontti
  font-family: 'Content-font';
  src: url('../fonts/Exo2-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-font';
  src: url('../fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
}

// Värit
$dark: rgb(90, 41, 0);
$light: linear-gradient(130deg, rgba(255, 155, 118, 0.301), rgba(255, 158, 48, 0.808));
$bg-col: linear-gradient(235deg, #ff9e30, #d35f00);             // Header && footer taustaväri
$bordercolor: #c85e3c;
$header-font-color: rgb(255, 220, 174);
$bb1-color: linear-gradient(135deg, rgb(235, 147, 46), rgb(129, 52, 0));
$bb2-color: linear-gradient(135deg, rgb(255, 208, 0), rgb(185, 53, 0));
$bb3-color: linear-gradient(135deg, lightgreen, darkgreen);

$header-height: 170px;
$footer-height: 120px;

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: calc($header-height * 0.8);
  overflow-y: auto;
  overflow-x: hidden;
  background: $light;
  height: 100%;

  @media (max-width: 960px) {
    padding-top: calc($header-height * 0.55);
  }

  .admin-forms {
    background: $light;

    .btn-outline-info {
      background-color: white;
    }
  }
}

.disabled {
  background: rgba(0,0,0,0.5);
  pointer-events: none;
}

body.disabled-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

// Wrapperit
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .light-border {
    border-color: $bordercolor !important;
  }

  @media (min-width: 961px) {
    .light-border:hover {
      transform: scale(1.5);
      z-index: 9999;
    }
  }

  .main-content {
    flex: 1;

    .quotes-image {
      margin-top: 20px;
      margin-bottom: 20px;
      max-height: 70%;
      width: auto;
      border-radius: 30px;

      @media (max-width: 960px) {
        width: 90vw;
      }
    }

    .values-list {
      ul li {
        opacity: 0;
        transform: translateY(20px);
        animation: fadeSlide 2.5s forwards;
      }

      ul li:nth-child(1) { animation-delay: 0.1s; }
      ul li:nth-child(2) { animation-delay: 0.2s; }
      ul li:nth-child(3) { animation-delay: 0.3s; }
      ul li:nth-child(4) { animation-delay: 0.4s; }
      ul li:nth-child(5) { animation-delay: 0.5s; }
    }

    .ass-link {
      p {
        opacity: 0;
        transform: translateY(20px);
        animation: fadeSlide 2.5s forwards;
      }

      p:nth-child(1) { animation-delay: 1s; }
      p:nth-child(2) { animation-delay: 2s; }
    }

    @keyframes fadeSlide {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .content {
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .quotes {
      overflow: hidden;

      .quotes-headline {
        font-family: 'GH-font', sans-serif;
        font-size: 2.5rem;
        line-height: 1.2;
        margin-top: 20px;
        margin-bottom: 20px;

        @media (max-width: 960px) {
          font-size: 1.8rem;
        }
      }

      .book {
        width: 600px;
        height: 540px;
        perspective: 2000px;
        position: relative;

        @media (max-width: 960px) {
          width: 80%;
          height: 300px;
        }

        .quotes-header {
          font-family: 'CAVEAT-font', sans-serif;
          font-size: 2.5rem;

          @media (max-width: 960px) {
            font-size: 1.6rem;
          }
        }
      }

      .page {
        width: 100%;
        height: 100%;
        position: absolute;
        transform-origin: left;
        transform-style: preserve-3d;
        transition: transform 1s ease;
        border: 1px solid black;
        border-radius: 20px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.2);

        @media (max-width: 960px) {
          border-radius: 10px;
        }

        .quotes-image {
          @media (max-width: 960px) {
            max-width: 90%;
            border-radius: 10px;
          }
        }

        .carousel-item {
          @media (max-width: 961px) {
            max-height: 16vh;
          }
        }
      }

      .front, .back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 40px;

        @media (max-width: 960px) {
          padding: 20px;
          border-radius: 10px;
        }
      }

      .front-1 {
        background: linear-gradient(90deg, #ffa24a, #ffbb7c);
      }

      .back-1 {
        transform: rotateY(180deg);
        background: linear-gradient(90deg, #ffb46e, #ff9532);
      }

      .front-2 {
        background: linear-gradient(90deg, #ffc64a, #ffdc7c);
      }

      .back-2 {
        transform: rotateY(180deg);
        background: linear-gradient(90deg, #ffdc7c, #ffc64a);
      }

      .front-3 {
        background: linear-gradient(90deg, #94a556, #c4da77);
      }

      .back-3 {
        transform: rotateY(180deg);
        background: linear-gradient(90deg, #c4da77, #94a556);
      }

      .page.flipped {
        transform: rotateY(-180deg);
        z-index: 0;
      }

      .page:nth-child(1) { z-index: 4; }
      .page:nth-child(2) { z-index: 3; }
      .page:nth-child(3) { z-index: 2; }
      .page:nth-child(4) { z-index: 1; }

      .book-button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-size: 24px;
        font-weight: 500;
        color: #fff;
        border: none;
        border-radius: 50%;
        padding: 30px 0;
        overflow: hidden;
        letter-spacing: 1px;
        box-shadow: 0 0 10px rgb(255, 153, 0), 0 0 60px rgba(107, 57, 0, 0.534);
        transition: transform 0.2s ease;

        @media (max-width: 961px) {
          padding: 10px;
          border-radius: 30px;
          font-size: 18px;
          width: 50%;
        }
      }

      .book-button.bb1 {
        background: $bb1-color;
      }

      .book-button.bb2 {
        background: $bb2-color;
      }

      .book-button.bb3 {
        background: $bb3-color;
      }

      .book-button:hover {
        transform: scale(1.05);
      }

      .book-button::before,
      .book-button::after {
        content: "";
        position: absolute;
        left: -50%;
        width: 200%;
        height: 300%;
        background: radial-gradient(circle, rgba(255,255,255,0.25) 20%, transparent 70%);
        animation: wave 6s linear infinite;
        border-radius: 40%;
        z-index: 1;
      }

      .book-button::after {
        animation-duration: 8s;
        opacity: 0.6;
      }

      .shine {
        position: absolute;
        top: 0;
        left: -75%;
        width: 50%;
        height: 100%;
        background: linear-gradient(120deg, rgba(255,255,255,0.3) 0%, transparent 60%);
        transform: skewX(-25deg);
        animation: shineMove 4s infinite;
        z-index: 2;
      }

      @keyframes wave {
        0% {
          transform: translateY(0) rotate(0deg);
        }
        50% {
          transform: translateY(-10%) rotate(180deg);
        }
        100% {
          translate: translateY(0) rotate(360deg);
        }
      }

      @keyframes shineMove {
        0% {
          left: -75%;
        }
        100% {
          left: 125%;
        }
      }
    }
  }

  .cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 20vh;
    background: $bg-col;
    color: $dark;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2000;
    box-shadow: 0 -3px 6px rgba(0,0,0,0.2);
    border-top: 2px solid $dark;
  }

  .newtopics-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 12vh;
    background: $bg-col;
    color: $light;
    font-weight: bold;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2000;
    box-shadow: 0 -3px 6px rgba(0,0,0,0.2);
    border-bottom: 2px solid $dark;

    span {
      font-family: 'GH-font', sans-serif;
      font-size: 2.5rem;
      line-height: 1.2;

      @media (max-width: 960px) {
        color: $dark;
        font-size: 1.8rem;
      }
    }
  }
}

// Header
header {
  position: fixed;
  max-height: $header-height;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  background: $bg-col;
  color: $light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid $dark;
  padding: 10px;

  .navbar {
    position: relative;
    z-index: 2000; 

    h1 {
      font-family: 'GH-font', sans-serif;
      font-size: 2.5rem;
      line-height: 1.2;
      font-weight: bolder;
      color: $header-font-color;

      @media (max-width: 960px) {
        font-size: 1.8rem;
      }
    }
  }

  .header-content {
    @media (min-width: 961px) {
      width: 100vw;
      text-align: center;

      h1 {
        font-family: 'GH-font', sans-serif;
        font-size: 4rem;
        line-height: 1.2;
        color: $header-font-color;
        margin-top: 20px;
      }
    }

    .active-button {
      position: relative;
      overflow: hidden;
    }

    .active-button .sparkle {
      position: absolute;
      width: 1px; 
      height: 1px;
      background: white;
      opacity: 0;
      animation: sparkle 2.5s infinite;
    }

    @keyframes sparkle {
      0%, 80%, 100% { opacity: 1; }
      40% { opacity: 0; }
    }
  }

  nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .h-button {
      font-family: 'CAVEAT-font', sans-serif;
      border-radius: 24px;

      &:hover {
        opacity: 0.7;
        transform: scale(1.2);
      }
    }
  }
}

// Karuselli
.home-carousel {
  width: 100vw;
  border-bottom: 2px solid $dark;

  .carousel-item {
    height: 40vh;
    min-height: 300px;

    @media (max-width: 600px) {
      height: 24vh;
      min-height: 100px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
    }
  }
}

.non-home-carousel {
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
  position: relative;

  .carousel-item {
    height: 20vh;
    min-height: 200px;

    @media (max-width: 600px) {
      align-self: center;
      height: 24vh;
      min-height: 100px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
      border: 2px solid $bordercolor;
    }
  }
}

.applications-container {           // Hakemukset
  .applications-buttons {
    button:hover {
      transform: scale(1.4);
    }
  }
  
  .mobile-form {
    margin: 10px;
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    box-shadow: 6px 12px 20px rgb(0, 0, 0, 0.6);
    padding: 16px;
  }
  
  .form-area {
    margin: 20px;
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    box-shadow: 6px 12px 20px rgb(0, 0, 0, 0.6);
  }

  .btn {
    box-shadow: 3px 6px 10px rgb(0, 0, 0, 0.4);
  }
}

// Footer
footer {
  height: $footer-height;
  background: $bg-col;
  border-top: 2px solid $dark;
  z-index: 10;

  @media (max-width: 960px) {
    height: $footer-height * 1.1;
    padding: 26px;
  }

  @media (max-width: 1246px) {
    height: $footer-height * 1.2;
  }

  @media (min-width: 1247px) {
    height: $footer-height * 1.5;
  }

  a {
    text-decoration: none;
  }

  .btn.btn-primary {
    background-color: $dark !important;
    border-color: $light;
  }

  .instagram {
    font-family: 'Insta-font', sans-serif;
    font-size: x-large;
    color: #405DE6;

    @media (max-width: 998px) {
      font-size: medium;
    }
  }

  .facebook {
    font-family: 'Face-font', sans-serif;
    font-size: x-large;
    color: #1877F2;

    @media (max-width: 998px) {
      font-size: medium;
    }
  }
}

.maps {
  border: 1px solid $dark;
  border-radius: 5px;
}

.content-text {
  font-family: 'Content-font', sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;

  @media (max-width: 960px) {
    font-size: 0.95rem;
    line-height: 1.4;
  }
}

@mixin rotate($deg) {
  transform: rotate($deg);
  transform-origin: center;
}

.tilt-left {
  @include rotate(-4deg);
}

.tilt-right {
  @include rotate(4deg);
}

.loader-container {
  @function colors-conic($colors) {
    $count: list.length($colors);
    $step: math.div(100%, $count);
    $gradient: ();

    @for $i from 1 through $count {
      $color: list.nth($colors, $i);
      $start: ($i) * $step;
      $end: $i * $step;

      $gradient: list.append(
        $gradient,
        #{$color} #{$start} #{$end},
        comma
      );
    }

    @return conic-gradient($gradient...);
  }

  opacity: 1;
  transition: opacity 1.5s ease;
  background: $bg-col;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  $colors: (
    transparent,
    #ff6f3c,
    #ff9a76,
    #b5651d,
    #ffb347,
    #c85e3c,
    #d99a6c,
    #8b3d2e
  );

  h1 {
    position: absolute;
    font-family: 'GH-font', sans-serif;
    font-size: 4rem;
    line-height: 1.2;
    color: $header-font-color;

    @media (max-width: 960px) {
      font-size: 1.8rem;
    }
  }

  .loader {
    height: 180px;
    width: 600px;
    padding: 15px;
    border-radius: 50px;
    box-sizing: border-box;
    position: relative;
    mask: conic-gradient(#000 0 0) content-box exclude,conic-gradient(#000 0 0);
    filter: blur(2px);
  }

  .loader:before {
    content: "";
    position: absolute;
    inset: 0;
    background: colors-conic($colors);
    animation: spin-colors 2s linear infinite;
    filter: blur(30px);
  }

  @keyframes spin-colors {
    to { transform: rotate(360deg); }
  }
}

.loader-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.fb-page {
  border-left: 2px solid $dark;
}