@use "sass:list";
@use "sass:math";

$colors: (
    #66cccc,
    #99ccff,
    #b399ff,
    #ff9933,
    #ff6666,
    #ff99cc,
    #99cc99
);

@keyframes color-cycle {
    @for $i from 1 through list.length($colors) {
        $count: list.length($colors);
        $pct: math.div(($i - 1) * 100%, $count);
        $color: list.nth($colors, $i);

        #{$pct} {
            --cycle-color: #{$color};
        }
    }

    100% {
        --cycle-color: #{list.nth($colors, 1)};
    }
}

@function gradient-dynamic() {
    @return conic-gradient(
        from 0deg,
        transparent 0%,
        #fff 10%,
        var(--cycle-color) 20% 40%,
        transparent 50%
    );
}

.shiny-button,
.shiny-button-passive:hover {
    position: relative;
    transition: all 0.3s ease;
    padding: 20px 32px;
    text-decoration: none;

    .border-mask {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 24px;
        width: 100%;
        height: 100%;
        padding: 3px;
        mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0) border-box;
        mask-composite: exclude;
                    overflow: hidden;

        .border-glow {
            background: gradient-dynamic();
            position: absolute;
            top: 50%;
            left: 50%;
            width: 500px;
            height: 500px;
            transform: translate(-50%, -50%);
            transform-origin: 0 0;
            filter: blur(20px);
            animation: 
                rotate 3s linear infinite,
                color-cycle 9s linear infinite;
        }

        @keyframes rotate {
            0% { transform: rotate(0deg) translate(-50%, -50%); }
            100% { transform: rotate(360deg) translate(-50%, -50%); }
        }
    }
}